<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructure">

    <application
        android:allowBackup="true"
        android:icon="@drawable/flag_of_nepal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusicGalleryActivity"
            android:label="@string/music_gallery" />
        <activity
            android:name=".FmRadioActivity"
            android:label="@string/fm_radios" />
        <activity
            android:name=".LiveTvActivity"
            android:label="@string/live_tvs" />
        <activity
            android:name=".NewsPortalActivity"
            android:label="@string/news_portals" />
        <activity
            android:name=".PlaylistActivity"
            android:label="@string/music_gallery" />
        <activity
            android:name=".SongsActivity"
            android:label="@string/music_gallery" />
        <activity
            android:name=".ArtistsActivity"
            android:label="@string/music_gallery" />
        <activity
            android:name=".AlbumsActivity"
            android:label="@string/music_gallery" />
        <activity android:name=".MusicPlayActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".BrowseActivity" />
        <activity android:name=".SearchActivity"></activity>
    </application>

</manifest>